################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GitHub-Copilot-Developers2/FileContentIndex/9a228b94-0428-4e39-bc1d-59347938f3a8.vsidx
/.vs/slnx.sqlite
/.vs
/.vs/GitHub-Copilot-Developers2/CopilotIndices/17.12.68.61481/CodeChunks.db
/.vs/GitHub-Copilot-Developers2/CopilotIndices/17.12.68.61481/CodeChunks.db-wal
/.vs/GitHub-Copilot-Developers2/CopilotIndices/17.12.68.61481/SemanticSymbols.db-wal
/Demo/Code Assets/.vs/Code Assets/copilot-chat/1825dfa3/sessions/284e5352-c630-4244-88c7-b0849d6e52e5
/Demo/Code Assets/.vs/Code Assets/CopilotIndices/0.2.1671.27212/CodeChunks.db
/Demo/Code Assets/.vs/Code Assets/CopilotIndices/0.2.1671.27212/SemanticSymbols.db
/Demo/Code Assets/.vs/Code Assets/FileContentIndex/bd7f07fa-0fe0-4624-afe9-6ad8f9ca58ce.vsidx
/Demo/Code Assets/.vs/Code Assets/v17/DocumentLayout.backup.json
/Demo/Code Assets/.vs/Code Assets/v17/.wsuo
/Demo/Code Assets/.vs/Code Assets/v17/DocumentLayout.json
/Demo/Code Assets/.vs/slnx.sqlite
/Demo/Code Assets/.vs/VSWorkspaceState.json
/Demo/Code Assets/daniel-can-add-these-assets-to-source-control-once-we-know-where.txt
