################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GitHub-Copilot-Developers2/FileContentIndex/9a228b94-0428-4e39-bc1d-59347938f3a8.vsidx
/.vs/slnx.sqlite
/.vs
/.vs/GitHub-Copilot-Developers2/CopilotIndices/17.12.68.61481/CodeChunks.db
/.vs/GitHub-Copilot-Developers2/CopilotIndices/17.12.68.61481/CodeChunks.db-wal
/.vs/GitHub-Copilot-Developers2/CopilotIndices/17.12.68.61481/SemanticSymbols.db-wal
